//--------------------------
// Colors
//--------------------------

$color-grey1: #1A1412;
$color-grey2: #312C2A;
$color-grey3: #484341;
$color-grey4: #5F5B59;
$color-grey5: #767271;
$color-grey6: #8C8988;
$color-grey7: #A3A1A0;
$color-grey8: #BAB9B8;
$color-grey9: #D1D0D0 ;
$color-grey10: #F4F3F3;

$color-accent1: #DB5834;
$color-accent2: #EDAB99;