---
layout: base
pageName: Home
permalink: "./index.html"
title: Robin Daloze
introduction: test ?
texte: Awesome Texte
block:
- template: homepage-block
  toggle_button: true
  value_of_the_button: Want to see more ?
  title: Digital Compositing
  intro: Passionné par ces trois domaines, je recheche un travail qui me permettrait
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim erat
    non felis condimentum consequat.
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, necessitatibus
    similique. Exercitationem, eligendi officia iure fugiat nemo nobis laboriosam
    laudantium, mollitia suscipit ipsa libero obcaecati tenetur odio voluptatum, minus
    voluptate!
  image: assets/img/Uploads/Compo 1X1.png
- template: homepage-block
  title: 3D Generalist
  intro: Passionné par ces trois domaines, je recheche un travail qui me permettrait
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim erat
    non felis condimentum consequat.
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, necessitatibus
    similique. Exercitationem, eligendi officia iure fugiat nemo nobis laboriosam
    laudantium, mollitia suscipit ipsa libero obcaecati tenetur odio voluptatum, minus
    voluptate!
  toggle_button: true
  value_of_the_button: See more
  image: assets/img/Uploads/HeaderHomePage.PNG
- template: homepage-block
  title: Programing
  intro: Passionné par ces trois domaines, je recheche un travail qui me permettrait
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim erat
    non felis condimentum consequat.
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, necessitatibus
    similique. Exercitationem, eligendi officia iure fugiat nemo nobis laboriosam
    laudantium, mollitia suscipit ipsa libero obcaecati tenetur odio voluptatum, minus
    voluptate!
  toggle_button: true
  value_of_the_button: See more
  image: assets/img/Uploads/Programing.png

---
<div class="headerHomepage">
  <div class="headerHomepage__imgblock">
    <div class="headerHomepage__imgContainer"><img class="headerHomepage__img" src="assets/img/uploads/HeaderHomepage.png" alt=""></div></div>
  <div class="headerHomepage__block">
    <h2>{{page.title}}</h2>
    <p class="introtext">{{page.introduction}}</p>
    <p class="maintext">{{page.texte}}</p>
  </div>
</div>




{% for item in page.block %}
    {% if forloop.first %}<ul class="blockContainer">{% endif %}
    <li class="block">
        <div class="blockImg">
        </div>
        <canvas class="blockImg__img blockImg__link ImageNoise" image="{{item.image}}" width="500" height="500"></canvas>
        <div class="blockContent">
            <h3>{{item.title}}</h3>
            <p class="introText">{{item.intro}}</p>
            <p class="mainText">{{item.text}}</p>
            <a class="button_link" href="#">{{item.value_of_the_button}}</a>
        </div>
    </li>
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}