---
layout: base
permalink: "./skills/index.html"
pageName: Skills
experience_title: Experience
skills_title: Main Skills
secondary_skills: Secondary Skills

---
<ul class="blockContainer">
    <li class="block blockSkills">
        <div class="blockImg blockImg--skills"></div>
        <div class="blockContent blockContent--skills">
            <h3>{{page.experience_title}}</h3>
            {% for item in site.data.experience %}
                {% if forloop.first %}<ul class="skills__list">{% endif %}
                <li class="skills__item">
                    <h4 class="skills__title">{{item.date}}</h4>
                    <p class="skills__function introText">{{item.function}}</p>
                </li>
                {% if forloop.last %}</ul>{% endif %}
                
            {% endfor %}
        </div>
    </li>
    <li class="block blockSkills">
        <div class="blockImg blockImg--skills"></div>
        <div class="blockContent blockContent--skills">
            <h3>{{page.skills_title}}</h3>
            {% for item in site.data.skills %}
                {% if forloop.first %}<ul class="skills__list">{% endif %}
                <li class="skills__item">
                    <h4 class="skills__title introText">{{item.skills}}</h4>
                </li>
                {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
        
    </li>
    <li class="block blockSkills">
        <div class="blockImg blockImg--skills"></div>
        <div class="blockContent blockContent--skills">
            <h3>{{page.secondary_skills}}</h3>
            {% for item in site.data.secondary_skills %}
                {% if forloop.first %}<ul class="skills__list">{% endif %}
                <li class="skills__item">
                    <h4 class="skills__title introText">{{item.skills}}</h4>
                </li>
                {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
        
    </li>
</ul>