---
layout: base
permalink: "./work/index.html"
pageName: Work
title: Work
work_asset:
- template: work-asset
  asset: "/assets/img/Uploads/HeaderHomePage.PNG"
  asset_item:
  - template: description-work-asset
    title: TFE 3ème bac
    description: This work combine many technologies like, in 3D, paint effect, mash,
      nParticules, Vray, Speedtree and the compositing is made in Nuke
  - template: image-work-asset
    image: "/assets/img/Uploads/HeaderHomePage.PNG"
  - template: image-work-asset
    image: "/assets/img/Uploads/HeaderHomePage.PNG"
  - template: description-work-asset
    title: Test
    description: coucou
description: |-
  Here you can see my work. Many of them are created at school or for school. Some are just for an exam, others are for jury or internship. Others again are works created only for me.
  There are work on compositing and/or 3D or work on web, like Threejs, nodejs, and much more

---
<div class="blockContainer">
    <div class="block">
        <div class="blockImg">
        </div>
        <a class="blockImg__link" href="#"><img class="blockImg__img" src="../assets/img/test.png" alt=""></a>
        <div class="blockContent">
            <h3>{{page.title}}</h3>
            <p class="mainText">{{page.description}}</p>
        </div>
    </div>
</div>

{% for item in page.work_asset %}
    {% if forloop.first %}<ul class="workAsset__container">{% endif %}

    {% for i in item.asset_item %}
        {% if i.template == "description-work-asset" %}
        
        <div class="workAsset__textContainer">
            <h3 class="workAsset__title">{{i.title}}</h3>
            <p class="workAsset__description">{{i.description}}</p>
        </div>
        {% endif %}
        {% if i.template == "image-work-asset" %}
            <img class="workAsset__img" src="{{i.image}}" alt="Oups, asset non disponible">
        {% endif %}
    {% endfor %}
    
    {% if forloop.last %}</ul>{% endif %}
    
{% endfor %}