---
layout: base
permalink: "./work/index.html"
pageName: Work
title: Work
description: |-
  Here you can see my work. Many of them are created at school or for school. Some are just for an exam, others are for jury or internship. Others again are works created only for me.
  There are work on compositing and/or 3D or work on web, like Threejs, nodejs, and much more
compo3d_work_asset:
- template: work-asset
  asset_item:
  - template: description-work-asset
    title: TFE 3ÈME BAC
    description: This work combine many technologies like, in 3D, paint effect, mash,
      nParticules, Vray, Speedtree and the compositing is made in Nuke
  - template: image-work-asset
    image: assets/img/Uploads/HeaderHomePage.PNG
  - template: image-work-asset
    image: assets/img/Uploads/HeaderHomePage.PNG
programing-web_work_asset:
- template: work-asset
  asset_item:
  - template: description-work-asset
    title: Particule in ThreeJS
    description: Some Particules
  - template: image-work-asset
    image: assets/img/Uploads/Programing.png
image_presentation: "/assets/img/Uploads/HeaderHomePage.PNG"

---
<div class="blockContainer">
    <div class="block">
        <div class="blockImg">
        </div>
        <a class="blockImg__link" href="#"><img class="blockImg__img" src="../assets/img/test.png" alt=""></a>
        <div class="blockContent">
            <h3>{{page.title}}</h3>
            <p class="mainText">{{page.description}}</p>
        </div>
    </div>
</div>


{% assign allWork = site.work %}
{{ allwork }}
<div class="cardContainer">
{% for item in allWork %}
    {% if forloop.first %}<ul class="card workList">{% endif %}
        <li class="card__item workList__item">
            <a href="{{item.url}}">
                <img class="card__img" src="/assets/img/Uploads/Programing.png" alt="">
                <div class="card__content">
                    <h3 class="card__title workList__title">{{ item.title }}</h3>
                    <p class="card__texte mainText workList__summary">{{item.summary}}</p>
                    <p class="card__link workList__readmore" href="{{item.url}}">Lire la suite</p>
                </div>
             </a>
        </li>
    {% if forloop.last %}</ul>{% endif %}
    
{% endfor %}
</div>














{% comment %}
<ul class="WorkMenu">
    <li class="WorkMenu__item"><a class="WorkMenu__link WorkMenu__link--3d" href="#3d">Compositing / 3D</a></li>
    <li class="WorkMenu__item"><a class="WorkMenu__link WorkMenu__link--web" href="#web">Programmation / Web</a></li>
</ul>
{% for item in page.compo3d_work_asset %}
    {% if forloop.first %}<ul id="3d" class="workAsset__container">{% endif %}

    {% for i in item.asset_item %}
        {% if i.template == "description-work-asset" %}
        
        <div class="workAsset__textContainer">
            <h3 class="workAsset__title">{{i.title}}</h3>
            <p class="workAsset__description">{{i.description}}</p>
        </div>
        {% endif %}
        {% if i.template == "image-work-asset" %}
            <img class="workAsset__img" src="/{{i.image}}" alt="Oups, asset non disponible">
        {% endif %}
    {% endfor %}
    
    {% if forloop.last %}</ul>{% endif %}
    
{% endfor %}

{% for item in page.programing-web_work_asset %}
    {% if forloop.first %}<ul id="web" class="workAsset__container">{% endif %}

    {% for i in item.asset_item %}
        {% if i.template == "description-work-asset" %}
        
        <div class="workAsset__textContainer">
            <h3 class="workAsset__title">{{i.title}}</h3>
            <p class="workAsset__description">{{i.description}}</p>
        </div>
        {% endif %}
        {% if i.template == "image-work-asset" %}
            <img class="workAsset__img" src="/{{i.image}}" alt="Oups, asset non disponible">
        {% endif %}
    {% endfor %}
    
    {% if forloop.last %}</ul>{% endif %}
    
{% endfor %}
{% endcomment %}