<div class="footer">
    <div class="footerShowreel">
        <h4>{{site.data.footer.showreel}}</h4>
        <p class="footerText mainText">{{site.data.footer.text}}</p>
        <video class="footerShowreel__video" width="280" height="158" autoplay loop>
                <source src="/assets/video/VFX-Breakdown.webm" type="video/webm">
                <source src="/assets/video/VFX Breakdown.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
    </div>
    <div class="footerContact">
        <h4>{{site.data.footer.contact}}</h4>
        <p class="footerText mainText">{{site.data.footer.text-contact}}</p>
        {% for item in site.data.footer.link %}
            {% if forloop.first %}<ul class="footerContent__list">{% endif %}
            <li class="footerContent__item"><a class="footerContent__list mainText" href="{{item.link}}">
                    {{item.title}}
                </a></li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    </div>
    <div class="footerNav">
        <h4>{{site.data.footer.navigation}}</h4>
        {% for item in site.data.mainnav %}
            {% if forloop.first %}<ul class="footerContent__list">{% endif %}
            <li class="footerContent__item">
                <a class="footerContent__list mainText" href="{{item.url}}">{{item.label}}</a>
                
            </li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    </div>
    <div class="footerSocial">
        <h4>{{site.data.footer.social_media}}</h4>
        {% for item in site.data.footer.social_media_link %}
            {% if forloop.first %}<ul class="footerContent__list">{% endif %}
                <li class="footerContent__item"><a class="footerContent__list mainText" href="{{item.link}}">{{item.title}}</a></li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    </div>
    

</div>
<script src="/js/dist.js"></script>