// ------------------------
// Settings
// ------------------------
$fontstack-secondary:("Montserrat", "Arial", sans-serif) !default;
$fontstack-main:("Raleway", "Arial", sans-serif) !default;
$color-accent1: "red" !default;
$color-grey1: #1A1412 !default;


// -------------------------
// Blog
// -------------------------

.blogList
{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.blogList__item
{

    width: 100%;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    align-items: baseline;
    margin: 3rem 0;

    @include mediaquery("small")
    {
        grid-template-columns: 1fr repeat(12, 60px) 1fr;
        grid-column-gap:10px;
    }
    @include mediaquery("medium")
    {
        grid-template-columns: 1fr repeat(12, 80px) 1fr;
        grid-column-gap:20px;
    }
}
.blogList__date
{
    grid-column: 2/span 1;
    color: $color-accent1;
    font-size: pxtorem(16px);
    margin: 0;
    @include mediaquery("small")
    {
        grid-column: 2/span 2;
    }
}
.blogList__title
{
    grid-column: 2 / span 1;
    text-decoration: none;
    color: black;
    @include mediaquery("small")
    {
        grid-column: 4/span 5;
    }
}
.blogList__summary {
    grid-column: 2 / span 1;
    @include mediaquery("small")
    {
        grid-column: 4/span 10;
    }
}
.blogList__readmore {
    grid-column: 2 / span 1;
    color: $color-accent1;
    text-decoration: none;
    @include mediaquery("small")
    {
        grid-column: 4/span 2;
    }
}