// ------------------------
// Settings
// ------------------------
$fontstack-secondary:("Montserrat", "Arial", sans-serif) !default;
$fontstack-main:("Raleway", "Arial", sans-serif) !default;
$color-grey1: #1A1412 !default;
$size-spacing: 300px;


// -------------------------
// header Homepage
// -------------------------

.headerHomepage
{
    width: 100%;
    height: calc(100vh - 90px);
    display: grid;
    grid-template-columns: pxtorem(60px) 1fr pxtorem(60px);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    
    background-color: $color-grey1;
    @include mediaquery("intermediate")
    {
        grid-template-columns: 1fr repeat(12, 60px) 1fr;
        grid-column-gap: pxtorem(10px);
    }
    @include mediaquery("large")
    {
        grid-template-columns: 1fr repeat(12, 80px) 1fr;
        grid-column-gap: pxtorem(20px);
    }
}
.headerHomepage__imgblock
{
    grid-area: 2 / 1 / 3 / 4;
    height: calc(50vh - 90px);
    position: relative;
    overflow: hidden;
    @include mediaquery("intermediate")
    {
        grid-area: 1 / 6 / 1 / 15;
        height: calc(100vh - 90px);
    }
}
.headerHomepage__imgContainer
{
    right: 50%;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    text-align: center
}
.headerHomepage__img
{
    max-height: 100%;
    top:0;
    left: center;
    display: inline-block;
    margin: 0 -100% 0 0;
}
.headerHomepage__block
{
    background-color: white;
    padding: pxtorem(60px) pxtorem(70px);
    grid-area: 1 / 2 / 1 / 3;
    z-index: 2;
    border-radius: 3px;
    transform: translateY(60px);
    @include mediaquery("intermediate")
    {
        grid-area: 1 / 2 / 1 / 9;
        transform: translateX(-140px);
    }
    @include mediaquery("large")
    {
        padding: pxtorem(90px) pxtorem(100px);
        transform: translateX(-200px);
    }
}