// ------------------------
// Settings
// ------------------------
$fontstack-secondary:("Montserrat", "Arial", sans-serif) !default;
$fontstack-main:("Raleway", "Arial", sans-serif) !default;
$color-accent1: "red" !default;
$color-grey1: #1A1412 !default;
$color-grey8: #BAB9B8 !default;
$size-spacing: 300px;


// ------------------------
//  FOOTER
// ------------------------

.footer
{
    width: 100%;
    padding: 120px 0;
    background-color: $color-grey1;
    display: grid;
    grid-template-columns: pxtorem(60px) 1fr pxtorem(60px);
    grid-column-gap: 10px;
    align-content: stretch;
    justify-content: stretch;

    
    @include mediaquery("small")
    {
        grid-template-columns: 1fr repeat(12, 60px) 1fr;
        grid-column-gap: 10px;
    }
    @include mediaquery("medium")
    {
        grid-template-columns: 1fr repeat(12, 80px) 1fr;
        grid-column-gap: 20px;
    }
}
.footerShowreel__video
{
    max-width: 100%;
}
.footerShowreel
{
    grid-column: 2/ span 2;
    @include mediaquery("small")
    {
        grid-column: 2/ span 3;
    }
}
.footerContact
{
    grid-column: 2 /  span 2;
    @include mediaquery("small")
    {
        grid-column: 6 /  span 2;
    }
}
.footerNav
{
    grid-column: 2 / span 2;
    @include mediaquery("small")
    {
        grid-column: 9 / span 2;
    }
}
.footerSocial
{
    grid-column: 2 /  span 2;
    @include mediaquery("small")
    {
        grid-column: 12 /  span 2;
    }
}
.footer h4
{
    color: white;
    font-weight: 700;
}
.footerContent__list
{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footerText, .footerContent__list
{
    text-decoration: none;
    color: $color-grey8;
    line-height: pxtorem(24px);
    margin: 6px 0;
}