// ------------------------
// Settings
// ------------------------
$fontstack-secondary:("Montserrat", "Arial", sans-serif) !default;
$fontstack-main:("Raleway", "Arial", sans-serif) !default;
$color-accent1: "red" !default;
$color-grey1: #1A1412 !default;
$size-spacing: 300px;


// -------------------------
// Blocks
// -------------------------
.blockContainer
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.block
{
    display: grid;
    grid-template-columns: pxtorem(60px) 1fr pxtorem(60px);
    grid-template-rows: calc(100vw - 120px) auto;
    align-content: stretch;
    justify-content: stretch;

    @include mediaquery("small")
    {
        grid-template-columns: 1fr repeat(12, 60px) 1fr;
        grid-template-rows: #{$size-spacing / 2} auto #{$size-spacing / 2};
        grid-column-gap: 10px;
        margin-bottom: #{-$size-spacing / 2};
    }

    @include mediaquery("medium")
    {
        grid-template-columns: 1fr repeat(12, 80px) 1fr;
        grid-column-gap: 20px;
        grid-template-rows: $size-spacing auto $size-spacing;
        margin-bottom: -$size-spacing;
    }
}
.block:first-child:before {
    @include mediaquery("small")
    {
        content: "";
        height: 150px;
        grid-column: 8/15;
        background-size: 100% 100%;
        background-image: url(/assets/img/svg/triangle-tr.svg);
        filter: drop-shadow(6px 6px 2px rgba(0,0,0,0.25));
    }
    @include mediaquery("medium")
    {
        height: 300px;
    }
    
}
.block:last-child:after {
    @include mediaquery("small")
    {

        content: "";
        height: 150px;
        grid-column: 8/15;
        grid-row: 3/4;
    }
    @include mediaquery("medium")
    {
        height: 300px;
    }

}
.block:nth-child(2n).block:last-child:after  {
    @include mediaquery("small")
    {
        background-size: 100% 100%;
        grid-column: 1/7;
        background-image: url(/assets/img/svg/triangle-bl.svg);
    }
}
.block:nth-child(2n+1).block:last-child:after {
    @include mediaquery("small")
    {
        background-size: 100% 100%;
        background-image: url(/assets/img/svg/triangle-rb.svg);
    }
    
}
.blockImg, .blockContent
{
    padding: 36px 0;
    box-sizing:border-box;
}
.blockImg
{
    grid-area: 1 / 1 / 2 / 4 ;
    background: url("../assets/img/svg/triangle-tr.svg") left top no-repeat,
                url("../assets/img/svg/block.svg") center center no-repeat,
                url("../assets/img/svg/triangle-lt.svg") right bottom no-repeat;
    background-size: pxtorem(60px) 100%, calc(100% - 118px) 100%, pxtorem(60px) 100%;
    position: relative;
    filter: drop-shadow(6px 6px 2px rgba(0,0,0,0.25));
    height: 100%;
    

    @include mediaquery("small")
    {
        background: url("../assets/img/svg/triangle-bl.svg") left top no-repeat,
                url("../assets/img/svg/block.svg") left center no-repeat,
                url("../assets/img/svg/triangle-lt.svg") left bottom no-repeat;
        background-size: 100% #{$size-spacing/2}, 100% calc(100% - #{$size-spacing - 1}), 100% #{$size-spacing/2};
        grid-area: 2 / 1 / 3 / 8 ;
        transform: translateY(-$size-spacing/2);
        height: calc(100% + #{$size-spacing});
    }

    @include mediaquery("medium")
    {
        background-size: 100% $size-spacing, 100% calc(100% - #{$size-spacing*2- 1 }), 100% $size-spacing;
        height: calc(100% + #{$size-spacing*2});
        transform: translateY(-$size-spacing);
    }
}
.blockContent
{
    grid-area: 2 / 2 / 3 / 3 ;
    padding: 5rem 0 7rem;
    @include mediaquery("small")
    {
        padding: 1rem 0;
        grid-area: 2 / 9 / 2 / 14 ;
    }
}
.blockImg__link
{
    grid-area: 1 / 2 / 2 / 3 ;
    z-index: 10;
    margin: auto;
    @include mediaquery("small")
    {
        grid-area: 2 / 2 / 3 / 7 ;
        z-index: 10;
        margin: 0;
    }
}
.blockImg__img
{
    max-width: 100%;
}

.block:nth-child(2n) .blockImg
{
    @include mediaquery("small")
    {
        grid-area: 2/ 8 / 3 / 15 ;
        background: url("../assets/img/svg/triangle-rb.svg") right top no-repeat,
                    url("../assets/img/svg/block.svg") left center no-repeat,
                    url("../assets/img/svg/triangle-tr.svg") right bottom no-repeat;
        background-size: 100% #{$size-spacing/2}, 100% calc(100% - #{$size-spacing - 1}), 100% #{$size-spacing/2};
    }
    @include mediaquery("medium")
    {
        background-size: 100% $size-spacing, 100% calc(100% - #{$size-spacing*2 - 1}), 100% $size-spacing;
    }
}
.block:nth-child(2n) .blockContent
{
    @include mediaquery("small")
    {
        grid-area: 2 / 2 / 3 / 7 ;
    }
}
    .block:nth-child(2n) .blockImg__link
{
    @include mediaquery("small")
    {
        grid-area: 2 / 9 / 3 / 14 ;
    }
}
.block:last-child
{
    margin-bottom: 0;
}