// ------------------------
// Settings
// ------------------------
$fontstack-secondary:("Montserrat", "Arial", sans-serif) !default;
$fontstack-main:("Raleway", "Arial", sans-serif) !default;
$color-accent1: "red" !default;
$color-grey1: #1A1412 !default;


// -------------------------
// WorkMenu
// -------------------------
.WorkMenu
{
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: $color-grey1;
    width: 100%;
    list-style: none ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.WorkMenu__item {
    width: 50%;
    text-align: center;
    padding: 2rem;
}
.WorkMenu__link
{
    text-decoration: none;
    position: relative;
    color: white;
    width: 50%;
    padding: 2rem;
}
.WorkMenu__link--3d:before
{
    content: "";
    height: pxtorem(32px);
    width: pxtorem(32px);
    position: absolute;
    left: pxtorem(-6px);
    top: 1.5rem;
    background: url("/assets/img/svg/cube.svg") 0 0 no-repeat;
}
.WorkMenu__link--web:before
{
    content: "";
    height: pxtorem(32px);
    width: pxtorem(32px);
    position: absolute;
    left: pxtorem(-6px);
    top: 1.5rem;
    background: url("/assets/img/svg/web.svg") 0 0 no-repeat;
}