// ------------------------
// Settings
// ------------------------
$fontstack-secondary:("Montserrat", "Arial", sans-serif) !default;
$fontstack-main:("Raleway", "Arial", sans-serif) !default;
$color-grey1: #1A1412 !default;


// -------------------------
// header Homepage
// -------------------------

.workAsset__container
{
    display: grid;
    grid-template-columns: 1fr repeat(12, 80px) 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    padding: 0;
}
.workAsset__textContainer
{
    grid-column: 5/9;
    margin-bottom : pxtorem(60px);
}
.workAsset__img
{
    grid-column: 1/15;
    max-width: 100%;
    
}